@import "./variable.less";

.mint-header{
  height: 44px;
  background: @color-theme;
}

.mint-button--default{
  background-color: @color-theme;
  color: @color-text-f;
}

.mint-cell-wrapper{
  padding: 0 15px;
}

.mint-navbar{
  height: 40px;
}

.mint-navbar .mint-tab-item{
  padding: 10px 0;
}

.mint-navbar .mint-tab-item.is-selected{
  color: @color-theme;
  border: none;
}

.mint-tab-item-label{
  font-size: @font-size-medium;
  line-height: 20px;
}

.mint-tabbar{
  height: 47px;
  background: @color-text-f;
  border: 0;
}

.mint-tab-item{
  padding: 5px 0 2px;
  color: @color-text-ll;
  font-size: @font-size-small;
}

.mint-tab-item-icon{
  width: 22px;
  height: 21px;
  margin-bottom: 2px;
}

.mint-tabbar > .mint-tab-item.is-selected{
  color: @color-theme;
  background: @color-text-f;
}
